{% extends "layout.html" %} {% block page_title %}book-list{% endblock page_title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    {% block content %}
    {% for item in items %}
        <li>
            {{ item.book.name }} - {{ item.book.author }}
            <a href="{% url 'remove_book' item.product.id %}">Remove</a>
        </li>

        {% empty %}
        <li>Your cart is empty.</li>
        {% endfor %}

    {% if items %}
    <div class="confirm-button">
        <form id="addToCartForm" method="post" action="{% url 'confirm_booking' cart.id %}">
            {% csrf_token %}
            <button id="addToCart" type="submit">ยืนยันการยืม</button>
        </form>
    </div>
    {% endif %}



    {% endblock content %}
</body>
</html>