{% extends "layout.html" %} {% block page_title %}book-list{% endblock page_title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    {% block content %}
    <!-- search panel -->
    <form action="{% url 'index' %}">
        {% comment %} {% csrf_token %} {% endcomment %}
    <div class="columns-search">
        <div class="column-searchBar">
            <input class="input" id="search-bar" type="text" name="search" placeholder="ค้นหาหนังสือ หมวดหนังสือ หรือผู้แต่ง">
        </div>
        <div class="column-searchBtn">
          <input class="button" id="search-btn" type="submit" value="Search">
      </div>
    </div>
    <!-- book list -->
    {% for book in books %}
    {% comment %} <div class="list-book" style="">
        <div class="book-cover" style="">
            <p>pretend its book cover no.{{book.id}}</p>
        </div>
        <div class="book-detail" style="">
            <p>{{ book.name }}</p>
        </div>
    </div> {% endcomment %}
    <div><p>{{book.name}}</p></div>
    {% empty %}
    <p>There is no book </p>
    {% endfor %}
     <div class="column-bookList">
        <div class="book-wrapper">
            <div class="book-coverWrapper">
                <img id="book-cover" src="">
            </div>
            <div class="detail-wrapper">
                <p id="book-title"></p>
                <p id="book-category"></p>
            </div>
            <div></div>
        </div>
    </div>
    </form>

    {% endblock content %}
</body>
</html>