{% extends "layout.html" %} {% block page_title %}book-list{% endblock page_title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    {% block content %}
    <!-- search panel -->
    <form action="{% url 'index' %}">
    <div class="searchPanel">
        <div class="searchBar">
            <input class="input" id="search-bar" type="text" name="search" placeholder="ค้นหาหนังสือ หมวดหนังสือ หรือผู้แต่ง">
        </div>
        <div class="searchBtn">
          <input class="button" id="search-btn" type="submit" value="Search">
      </div>
    </div>
    <!-- book list -->
    
     <div class="bookList">
        {% for book in books %}
        <a class ="book-detailLink" href="{% url 'book-detail' book.id%}">
            <div class="book-wrapper">
                <div class="book-coverWrapper">
                    <img class="book-cover" src="https://th.bing.com/th/id/OIP.xONRNGDuga-3ecOyGMje2AAAAA?rs=1&pid=ImgDetMain">
                </div>
                <div class="detail-wrapper">
                    <h3 class="detail">{{ book.name }}</h3>
                    <p class="detail">{{ book.author }}</p>
                    <div>
                        {% for category in book.categories.all %}
                            <span class="detail" id="detail-category">{{ category.name }}</span>
                        {% endfor %
                    }</div>
                </div>
                <div></div>
            </div>
        </a>
        {% empty %}
        <p>There is no book </p>
        {% endfor %}
    </div>
    
    </form>

    {% endblock content %}
</body>
</html>