* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  font-family: "Kanit", sans-serif;
  color: #171717;
}

main {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3em;
}