{% extends "layoutStaff.html" %} {% block page_title %}All Book{% endblock page_title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    {% block content %}
    <form action="{% url 'searchBook' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </form>
    {% for book in books %}
    <div class="list-book" style="">
        <div class="book-cover" style="">
            <p>pretend its book cover no.{{book.id}}</p>
        </div>
        <div class="book-detail" style="">
            <p>{{ book.name }}</p>
        </div>
    </div>
    {% empty %}
    <p>There is no book </p>
    {% endfor %}
    {% endblock content %}
</body>
</html>