{% extends "layoutStaff.html" %} {% block page_title %}All Book{% endblock page_title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    {% block content %}
    <div class="searchBar">
        <form class="searchBar" action="{% url 'searchBook' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search">
        </form>
    </div>
    {% for book in books %}
    <a class ="book-detailLink" href="{% url 'queueDetail' book.id%}">
        <div class="list-book" style="">
            <div class="book-cover" style="">
                <p>pretend its book cover no.{{book.id}}</p>
            </div>
            <div class="book-detail" style="">
                <h1>{{ book.name }}</h1>
                <p>{{ book.author }}</p>
                <p>{{ book.publish_date }}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <p>There is no book </p>
    {% endfor %}
    {% endblock content %}
</body>
</html>